.menu_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.menu_item p {
  margin-left: 1.25rem;
  width: 60%;
  align-items: justify;
}

.menu_item .bttn {
  margin-left: 1.25rem;
  margin-bottom: 2rem;
}

.item_img {
  margin-bottom: 1.5rem;
  width: 100%;
  object-fit: cover;
}

.item_price {
  font-size: 1.5rem;
  margin: 0.75rem 0;
}

.item_title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
